@page "/contact"
<ListHeader Title="Contact" RoutePath="/contact" />
<div class="content-container">
    <p>
        Contact us via any of the options below:
        <li>Email</li>
        <li>Phone</li>
        <li>Instant Message</li>
    </p>
</div>