<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Admin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Admin.Properties.Settings>
            <setting name="FormMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMainMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CacheDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMainTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSearch" serializeAs="String">
                <value />
            </setting>
            <setting name="FormSettingsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSettingsSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSettingsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitterPositionCache" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterPositionProducts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterPositionProductDetails" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterPositionProductProperties" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterPositionProductCounts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterPositionProductComparison" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowFilterResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCompareResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastProductCategoryIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </Admin.Properties.Settings>
    </userSettings>
</configuration>