<div>
    <nav class="menu">
        <ul class="menu-list">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active-link" class="link">
                Home
            </NavLink>
            <NavLink href="/products" ActiveClass="active-link" class="link">
                Products
            </NavLink>
            <NavLink href="/charts" ActiveClass="active-link" class="link">
                Charts
            </NavLink>
            <NavLink href="/compare" ActiveClass="active-link" class="link">
                Compare
            </NavLink>
            <NavLink href="/cache" ActiveClass="active-link" class="link">
                Cache
            </NavLink>
            <NavLink href="/contact" ActiveClass="active-link" class="link">
                Contact Us
            </NavLink>
        </ul>
    </nav>
</div>